# Byte-compiled
__pycache__/
.cache/*
staticfiles/*
*.pyc
.coverage
env/*
# sensitive data
# deprecated, use environment for docker or kubernetes secrets
dboeannotation/settings/server.py
dboeannotation/settings/dev.py

#sqlitedb
db.sqlite3

# IDE
.idea


#Ipython Notebook
.ipynb_checkpoints

# the only file we want to have in git for settings is basex.py
dboeannotation/settings/*

#data repo
dboeannotation_data

#temporary folders
temp

#db-dumps
.devcontainer/sql/*

#supervisor
supervisord.log
supervisord.pid
.secret
dboeannotation_prod_dump.sql
foo.json
Untitled*
dboebackend_dump.sql
schema.yaml

#belege-json-dumps
media/belege/*.json
play.py
foo.csv
