{% for x in object.belegsigle_set.all %}
    <usg type="geo" corresp="{{ x.corresp }}">
        <listPlace>
            <place type="{{ x.sigle.kind }}">
                <placeName>{{ x.sigle.name }}</placeName>{%if x.sigle.orig_names %}{% for y in x.sigle.orig_names %}
                <placeName type="orig">{{ y }}</placeName>{% endfor %}{% endif %}{% if x.sigle.kr %}
                <region type="Kleinregion">
                    <placeName>{{ x.sigle.kr }}</placeName>
                    <idno type="sigle">{{ x.sigle.kr.sigle }}</idno>
                </region>{% endif %}{% if x.sigle.gr %}
                <region type="Großregion">
                    <placeName>{{ x.sigle.gr }}</placeName>
                    <idno type="sigle">{{ x.sigle.gr.sigle }}</idno>
                </region>{% endif %}{% if x.sigle.bl %}
                <region type="Bundesland">
                    <placeName>{{ x.sigle.bl }}</placeName>
                    <idno type="sigle">{{ x.sigle.bl.sigle }}</idno>
                </region>{% endif %}
                <idno type="sigle">{{ x.sigle.sigle }}</idno>
            </place>
        </listPlace>
    </usg>
{% endfor %}