name: Test
on: 
  push:
jobs:
  test:
    name: Test Application
    runs-on: ubuntu-latest
    env:
      POSTGRES_DB: dboebackend
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: dboebackend
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
    - name: checkout the repo  
      uses: actions/checkout@v6
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v7
    - name: install dependencies
      run: uv sync --locked
    - name: Run migrations
      run: uv run manage.py migrate
    - name: Run tests
      run: uv run manage.py test